.App{
  width: 100vw;
  height: 100vh;
  background-color: #faf9fb;
  overflow: hidden;
  font-family: 'Montserrat', sans-serif;
  
}
.App::-webkit-scrollbar{
  display: none;
}


/* bottom menu styles */
.bottomMenu{
position: fixed;
bottom:0;
left:0;
display: flex;
align-items: center;
justify-content: center;
width: 100%;
height: 60px;
background: #d5d5d5;
border-radius: 25px 25px 0 0;
z-index: 101;
}
.bottomMenu ul{
  display: flex;

}

.bottomMenu ul li{
  position: relative;
  width: 60px;
  height: 60px;
  z-index: 1;

}

.bottomMenu ul li a{
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  flex-direction: column;
  font-weight: 500;

}


/* icon */
.bottomMenu ul li a .icon{
  position: relative;
  display: block;
  line-height: 70px;
  text-align: center;
  transition: 0.5s;
}
.bottomMenu ul li a .icon .MuiSvgIcon-root{
  font-size:26px;
  color: #373848
}

.bottomMenu ul li.active a .icon{
   transform: translateY(-26px);
}

.bottomMenu ul li.active a .icon .MuiSvgIcon-root{
  color: #faf9fb;
  transition: 0.5s;
}

.indicator{
  position: absolute;
  height: 60px;
  width: 60px;
  background: #f8901c;
  top: -50%;
  border-radius: 50%;
  border: 6px solid #faf9fb;
  transition: 0.5s;
}

.indicator::before {
  content: "";
  position: absolute;
  top: 50%;
  left: -20px;
  width: 18px;
  height: 18px;
  background: transparent;
  border-top-right-radius: 18px;
  box-shadow: 0px -10px 0 0 #faf9fb;
}

.indicator::after {
  content: "";
  position: absolute;
  top: 50%;
  right: -20px;
  width: 18px;
  height: 18px;
  background: transparent;
  border-top-left-radius: 18px;
  box-shadow: 0px -10px 0 0 #faf9fb;
}
.bottomMenu ul li:nth-child(1).active ~.indicator{
  transform: translateX(calc(60px * 0));

}
.bottomMenu ul li:nth-child(2).active ~.indicator{
  transform: translateX(calc(60px * 1));

}
.bottomMenu ul li:nth-child(3).active ~.indicator{
  transform: translateX(calc(60px * 2));

}

.bottomMenu ul li:nth-child(4).active ~.indicator{
  transform: translateX(calc(60px * 3));

}
.bottomMenu ul li:nth-child(5).active ~.indicator{
  transform: translateX(calc(60px * 4));
}
.bottomMenu ul li:nth-child(6).active ~.indicator{
  transform: translateX(calc(60px * 5));
}
/* mainContainer */
main{
  width: 100%;
  height: auto;
  margin-top: 60px;
}

.mainContainer{
  width: 100%;
  height: auto;
  padding: 10px;
  padding-bottom: 100px;
}
 /* banner */
.banner{
  width: 100%;
  height: 130%;
  border-radius: 10px;
  background: url("https://firebasestorage.googleapis.com/v0/b/food-delivery-37c59.appspot.com/o/Images%2Fbanner.png?alt=media&token=7e244d84-8821-477d-b273-4c9381a474fb")
    no-repeat center;
  background-size: cover;
  position: relative;
  display: flex;
  align-items: center;
  padding: 0px 10px;
}

.deliveryPic {
  position: absolute;
  right: -20px;
  bottom: -10px;
  width: 203px;
  padding: 0;
  margin: 0;
}

.bannerContent {
  padding: 8px;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;
}

.bannerContent h3 {
  font-size: 18px;
  font-weight: 500;
  color: #2a2b3c;
}

.bannerContent p {
  font-size: 14px;
  width: 200px;
  color: #989594;
  margin: 5px 0;
}

.bannerContent p span {
  color: #f8901c;
  font-weight: 500;
}

.bannerContent a {
  background: #f8901c;
  padding: 5px 15px;
  border-radius: 100vw;
  color: #faf9fb;
  font-size: 14px;
  font-weight: 500;
  cursor: pointer;
}

.bannerContent a:hover {
  box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.15);
  transition: 0.5s;
}

/* food container */
.dishContainer{
  width: 100%;
  padding: 10px 0;
}

.menuCard{
  width: 100%;
}

.subMenuContainer, 
.viewAll{
 display: flex;
 justify-content: space-between;
 align-items: center;

}

.subMenuContainer h3{
  font-size: 16px;
  font-weight: 600;
  color:#292b3c;
}

.subMenuContainer .viewAll p{
  font-size: 12px;
  color: #f8901c;
  font-weight:400;
} 
.subMenuContainer .viewAll i{
  background: #f8901c;
  width: 20px;
  height: 20px;
  min-width: 20px;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.subMenuContainer .viewAll i .MuiSvgIcon-root{
  font-size: 16px;
  color:#faf9fb;
}


.css-1t29gy6-MuiToolbar-root{
  width: 100%;
}
.css-1kcggdq-MuiInputBase-root .MuiInputBase-input{
  border-radius: 25px;
  box-shadow: 0px 3px 20px rgba(0,0,0,0.15);
  display: flex;
  align-items: center;
  overflow: hidden;
  padding: 8px 15px;
  width: 50ch;
}


.css-1guk29{
  width: 40px;
  height: 40px;
  min-width: 40px;
  border-radius: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;

  object-fit: cover;
}
/* logo */
.css-jkg241 {
  height: 175px !important;
  width: 174px!important;
  padding: 0;
  padding-bottom: -30px !important;
}
/* header */
.css-1mbgi29-MuiPaper-root-MuiAppBar-root{
  display: flex !important;
  align-items: center!important;
  justify-content: space-between!important;
  height: 60px!important;
  width: 100%!important;
  background-color: white!important;
  position: fixed!important;
  top: 0!important;
  left: 0!important;
  z-index: 101!important;
  box-shadow: 0px 3px 20px rgba(0,0,0,0.1)!important;
}
/* favorites */
.css-1pz7awu-MuiButtonBase-root-MuiIconButton-root{
  color:#F9003C !important;
}
/* cart */
.css-zylse7-MuiButtonBase-root-MuiIconButton-root {
  color: black !important;
}  
/* profile */
.css-1u4zpwo-MuiSvgIcon-root-MuiStepIcon-root.Mui-active{
  color:#F9003C !important;
}
.css-1u4zpwo-MuiSvgIcon-root-MuiStepIcon-root.Mui-completed{
  color:#F9003C !important;
}
.css-8bjq0v-MuiButtonBase-root-MuiButton-root {
  background-color:#F9003C !important;
}
.css-1dym4ij-MuiButtonBase-root-MuiButton-root{
  color: #000 !important;
}

.css-1l0fxt-MuiButtonBase-root-MuiButton-root{
  background-color:#F9003C !important;
  color: white !important;
}